<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
<br />
<br />
<br />
<br />
<footer id="footer-main" class="position-relative" style="background-color: #FAFAFA;bottom: 5px" >
    <br />
    <div class="container">
        <div class="row wrapper-footer-main">
            <div class="col-12 col-lg-3 item-col-footer">
                <MudImage Fluid="true" Src="https://scontent.fdad1-4.fna.fbcdn.net/v/t1.15752-9/356964504_1571329483356646_1309205307083886938_n.png?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=m6MB1fyb4ecAX-ff2CJ&_nc_ht=scontent.fdad1-4.fna&oh=03_AdT8Jot24u0dlOgPN3PMRa32AEQMnEwM8FtdB_C22x8biA&oe=64C371CE" style="width:120px"/>
            </div>
            <div class="col-12 col-lg-3 item-col-footer">
                <div class="wrapper-col-footer">
                    <div class="subTitle-footer"></div>
                </div>
                <div class="title-footer" style="color:#BE984E;">
                    <h4>RIMBERIO</h4>
                </div>
                <div class="content-footer" style="color:#000000;">
                    Email: support@gmail.com <br /><br />
                    Số điện thoại: 0234875242
                </div>
                
            </div>
            <div class="col-12 col-lg-3 item-col-footer">
            </div>
            <div class="col-12 col-lg-3 item-col-footer">
                <div class="wrapper-col-footer">
                    <div class="subTitle-footer-contact" style="color:#000000;">MẠNG XÃ HỘI</div>
                    <br />
                    <div class="social-footer">
                        <a href="https://www.facebook.com/profile.php?id=100094130682299&mibextid=LQQJ4d" target="_blank" >
                            <img class="ls-is-cached lazyloaded" src="https://th.bing.com/th/id/OIP.5nFy3zqnTnFXrNy_3ljJJQAAAA?pid=ImgDet&w=400&h=400&rs=1" style="width:40px " />
                        </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.instagram.com/rimberio_book/?igshid=OGQ5ZDc2ODk2ZA%3D%3D&fbclid=IwAR1gL3MPhlHoEwGFevp53pSxI5N1Hgeju2019lZh2YgnpUI7vKkq2mrWBgA" target="_blank">
                            <img class="ls-is-cached lazyloaded" src="https://th.bing.com/th/id/OIP.-ZirgQE5pr8e7htQWowJIgHaHa?pid=ImgDet&rs=1" style="width:40px "/>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</footer>

@code {

}